@page
@model MyEvenement.Pages.Evenements.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Evenement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Evenement.Nom" class="control-label"></label>
                <input asp-for="Evenement.Nom" class="form-control" />
                <span asp-validation-for="Evenement.Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evenement.Text" class="control-label"></label>
                <input asp-for="Evenement.Text" class="form-control" />
                <span asp-validation-for="Evenement.Text" class="text-danger"></span>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="Evenement.TypeDetail" class="control-label"></label>
                <input asp-for="Evenement.TypeDetail" class="form-control" />
                <span asp-validation-for="Evenement.TypeDetail" class="text-danger"></span>
            </div>
            -->

            <div class="form-group">
                <label asp-for="Evenement.TypeDetail" class="control-label"></label>
                <select asp-for="Evenement.TypeDetail" class ="form-control" 
                        asp-items="ViewBag.DetailOption">
                    <option value="">-- Select Evenement --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Evenement.Date" class="control-label"></label>
                <input asp-for="Evenement.Date" class="form-control" />
                <span asp-validation-for="Evenement.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
